.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  display: none; 
  position: relative;
  width: 100%;
}

.carousel-slide.active {
  display: block;
}

.carousel-container .carousel-slide img {
  width: 100%;
  height: 500px;
}

.carousel-container .carousel-content {
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;

}

.carousel-container .carousel-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.carousel-container .carousel-content p {
  font-size: 1rem;
  margin: 0 0 15px;
}

.carousel-container .carousel-content button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.carousel-container .carousel-content button:hover {
  background-color: #ddd;
}

.carousel-container .dot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  bottom: 15px;
}

.carousel-container .dot-container .dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.carousel-container .dot-container .dot.active {
  opacity: 1;
}

.carousel-container .prev, .carousel-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-container .prev {
  left: 10px;
}

.carousel-container .next {
  right: 10px;
}



h1, h2, h3, h4, h5, h6{
  margin: 0;
  line-height: 1.2
}

.inline-block{
  display: inline-block;
}

.product-card{
  width: 284px;
  min-width: 200px;
  height: 680px;
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  overflow: scroll;
  padding: 20px 45px;
  padding-top: 0px;
  position: relative;
  height: 370px;
}

.product-card p{
  margin: 0;
  line-height: 1.6;
  font-size: 14px;
}

.product-card .top{
  z-index: 100;
  position: sticky;
  top: 0;
  padding-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  background-color: white;
}

.product-card .top p{
  margin-left: auto;
}

.product-card svg{
  width: 25px;
}

.product-card .top path{
  fill: var(--grey-text);
}


.main{
  margin-top: 10px
}

.main img{
  width: 100%;
  height: 330px;
  object-fit: cover;
/*   float: left; */
}

.main .price{
  width: 70px;
  height: 70px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: -40px;
  margin-left: -10px;
  margin-bottom: 20px;
  z-index: 100;
  position: relative;
}

.main h2{
  color: var(--dark-text);
}

.main h3{
  font-size: .9rem;
  padding: 5px 0px;
  font-weight: 500;
  color: var(--green);
}

.main .price{
  font-size: 18px;
}

/* 
---------------------------
           SMALL
---------------------------
*/
.main img.small{
  animation: image-shrink .4s forwards;
}
.main img.large{
    animation: image-grow .4s forwards;
}

.main .price.small{
  display: none;
}

// .main h2.small{
//    margin-bottom: 15px; 
// }

/* 
----------------------------
          MIDDLE
----------------------------
*/


.details{
  margin: 30px 0px 60px 0px;
}
.details.small{
  margin: 30px 0px;
}

.detail{
  display: flex;
  align-items: center;
  margin: 15px 0px;
  font-weight: 500;
}

.detail .type{
  color: var(--light-grey-text)
}

.detail .description{
  margin-left: auto;
  color: var(--dark-text)
}

.detail svg{
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.detail path{
  fill: var(--very-light-text);
}

/* 
------------------------------
        DETAIL BLOCK
------------------------------
*/

.detail-blocks{
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  text-align: center;
}

.detail-block{
  width: 50%;
  display: inline-block;
  border: 2px solid #60ba001c;
  padding: 25px 0px;
}

.detail-block svg{
  margin: 0px -3px;
}

.detail-block path{
  fill: var(--very-light-text)
}
.detail-block path.filled{
  fill: var(--grey-text);
}

.detail-block.left{
  border-right:none;
}

.detail-block .type{
  color: var(--green);
}

.detail-block .quantity{
  font-size: 18px;
  font-weight: 500;
}

/* 
-------------------------
        BUTTONS
-------------------------
*/
button.buy{
  margin: auto;
  display: block;
  width: 100%;
  height: 60px;
  font-size: 16px;
  background-color: var(--green);
  border: none;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
}

/* 
-------------------------
        ANIMATION
-------------------------
*/

@keyframes image-shrink{
  0%{
    width: 100%;
    height: 330px;
    margin-right: 0px;
  }
  100%{
    width: 70px;
    height: 80px;
    margin-right: 15px;
  }
}

@keyframes image-grow{
  0%{
    width: 70px;
    height: 80px;
    margin-right: 15px;
  }
  100%{
    width: 100%;
    height: 330px;
    margin-right: 0px;
  }
}

.P-cardSection {
  display: flex;
  margin: 55px;
  margin-top: 70px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.h2-heading {
  font-size: 2rem;
}



.banner { 
  margin: 30px 0; 
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius-medium);
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}


.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  scroll-snap-align: start;
}

  .slider-item .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
  }

.banner-content {
  background: hsla(0, 0%, 100%, .5);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  border-radius: var(--border-radius-medium);
}

.banner-subtitle {
  color: var(--salmon-pink);
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: var(--eerie-black);
  font-size: var(--fs-1);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.banner-text { display: none; }

.banner-btn {
  background: var(--salmon-pink);
  color: var(--white);
  width: max-content;
  font-size: var(--fs-11);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: var(--border-radius-medium);
  transition: var(--transition-timing);
}

  .banner-btn:hover { background: var(--eerie-black); }


  

  .second-product-section {
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-top: 90px;
  }
  
  .second-product-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 300px;
  }
  
  .second-product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .second-full-card {
    flex: 2;
    height: 620px;
}
  
  .second-product-grid {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .second-product-details {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
  }
  
  .second-product-card:hover .second-product-details {
    bottom: 0;
  }
  
  .second-product-details h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .second-product-details p {
    margin: 5px 0;
  }
  
  .second-product-details .second-price {
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
  }
  
  .second-buy-now {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .second-buy-now:hover {
    background-color: #e05500;
  }
  


  


  .thirdproductCard-section {
    width: 100%;
    overflow-x: hidden;
  }
  
  .thirdproductCard-card-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    scrollbar-width: none;
    margin: 45px;
  }
  
  .thirdproductCard-card-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit-based browsers */
  }
  
  .thirdproductCard-product-card {
    flex: 0 0 calc(34% - 20px);
    scroll-snap-align: start;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 255px;
}
  
  .thirdproductCard-product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .thirdproductCard-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .thirdproductCard-product-card:hover .thirdproductCard-image {
    transform: scale(1.1);
  }
  
  .thirdproductCard-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .thirdproductCard-product-card:hover .thirdproductCard-content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .thirdproductCard-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .thirdproductCard-description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .thirdproductCard-button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .thirdproductCard-button:hover {
    background: #0056b3;
  }
  
  


