.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  display: none; 
  position: relative;
  width: 100%;
}

.carousel-slide.active {
  display: block;
}

.carousel-container .carousel-slide img {
  width: 100%;
  height: 500px;
}

.carousel-container .carousel-content {
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;

}

.carousel-container .carousel-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.carousel-container .carousel-content p {
  font-size: 1rem;
  margin: 0 0 15px;
}

.carousel-container .carousel-content button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.carousel-container .carousel-content button:hover {
  background-color: #ddd;
}

.carousel-container .dot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  bottom: 15px;
}

.carousel-container .dot-container .dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.carousel-container .dot-container .dot.active {
  opacity: 1;
}

.carousel-container .prev, .carousel-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-container .prev {
  left: 10px;
}

.carousel-container .next {
  right: 10px;
}

// ===============================================================


.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.control {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 2rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.control:hover {
  background-color: rgba(0, 0, 0, 0.5);
}